.form-editar{
background-color: #ccc;
width: 100%;
height: 500px;
}

.form-perfil-editar{
font-family: 'Montserrat', sans-serif;
top: 50px;
  width: 40%;
left: 30%;
padding-left: 60px;
  border-radius: 5px;
  position: relative;
 text-align: left;
 font-weight:bold;
 background-color: white;
}



.form-perfil-editar input[type=text] {
  width: 45%;
  height: 8%;
  position: relative;
  left: 28%;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 2px 0;
  border: 1px solid #aec6ca;
  outline: none;


}
.form-perfil-editar input[type=text]:focus {
    border: 2px solid #77c1f6;
}
.form-perfil-editar input[type=text]:hover {
    border: 2px solid #77c1f6;
}

.form-perfil-editar input[type=email] {
  width: 45%;
  height: 8%;
  position: relative;
  left: 28%;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 2px 0;
  border: 1px solid #aec6ca;
  outline: none;


}
.form-perfil-editar input[type=email]:focus {
    border: 2px solid #77c1f6;
}
.form-perfil-editar input[type=email]:hover {
  border: 2px solid #77c1f6;
}

.form-perfil-editar input[type=number] {
    width: 45%;
    height: 8%;
    position: relative;
    left: 28%;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 2px 0;
    border: 1px solid #aec6ca;
    outline: none;

}
.form-perfil-editar input[type=number]:focus {
    border: 2px solid #77c1f6;
}
.form-perfil-editar [type=number]:hover {
  border: 2px solid #77c1f6;
}


.form-perfil-editar #button-acept {
  position: relative;
  left:28%;
  top:-4px;
  width: 40%;
  background-color: #616161;
  border-radius: 0;
  border: transparent;
  color: white;
  padding: 3px 6px;
}

.form-perfil-editar  #button-acept:hover {
background-color: #6a7376;

}

.form-perfil-editar p {
  position: relative;
  left:75%;
  top:-23px;

}

.form-perfil-editar  #button-cancel:hover {
background-color: #6a7376;

}



@media screen and (max-width: 420px) {



.form-perfil-editar {
  font-family: 'Montserrat', sans-serif;
  top: 50px;
    width: 80%;
    height: 250px;
  left: 6%;
  padding-left: 60px;
    border-radius: 5px;
    position: relative;
   text-align: left;
   font-weight:bold;
   background-color: white;
  }

.form-perfil-editar button {
  height: 25px;
  width: 25px;
  font-size: 11px;


}
.form-perfil-editar p {
position: relative;
top: 5px;
left:75px;
font-size: 11px;


}
}
