.perfil-completo{
  margin: 0;
  display: flex;
flex-direction: row;
  justify-content:flex-start;
  flex-wrap: wrap;


}

.avatar-user{

top: 100px;
  width:100%;
  height:240px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-position: center;
  background-size: center;
  background-image: url('https://images.pexels.com/photos/15964/pexels-photo.jpg?w=940&h=650&auto=compress&cs=tinysrgb');
}
.avatar{
  position: absolute;
  left: 3%;
height: 150px;
  width: 150px;
  border-radius: 50%;
border-style:solid ;
border-color: white;
top:140px;

}

.avatar:hover {
-webkit-transform:scale(1.3);transform:scale(1.3);
}

.avatar-user h1{
  position: relative;
  top:50%;
  justify-content: center;
   color: white;
}
.submenu-position{
  margin: 0 auto;
  position: absolute;
   top: 10%;
}

/* form-direccion   */
.form-direccion{
  width: %;
  height:380px;
}
.form-perfil-direccion-titulo h3{
font-family: 'Montserrat', sans-serif;
font-size: 16px;
text-align: center;
margin-bottom: 10px;
}
.form-perfil-direccion{
font-family: 'Montserrat', sans-serif;
margin-bottom:10px;
right: 10%;
padding-left: 50px;
  border-radius: 5px;
  position: relative;
 text-align: left;
 font-weight:bold;
 background-covlor: white;

}


.form-perfil-direccion input[type=text] {

  width:60%;
  height: 9%;d
  position: relative;
  left: 20%;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 2px 0;
  border: 1px solid #aec6ca;
  outline: none;


}
.form-perfil-direccion  input[type=text]:focus {
    border: 2px solid #77c1f6;
}


.form-perfil-direccion input[type=number] {
    width: 45%;
    height: 9%;
    position: relative;
    left: 20%;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 2px 0;
    border: 1px solid #aec6ca;
    outline: none;

}
.form-perfil-direccion input[type=number]:focus {
    border: 2px solid #77c1f6;
}



.form-perfil-direccion button {
  position: relative;
  left: 15%;
  top:-4px;
  width: 50%;
  background-color: #616161;
  border-radius: 0;
  border: transparent;
  color: white;
  padding: 3px 6px;
}

.form-perfil-direccion  button:hover {
  color: #ffffff;
  box-shadow: inset 0 0 0 3px #ffffff;

}


.form-perfil-direccion button:before {
 content:'';
 position: absolute;
 top: 0px;
 left: 0px;
 wicfdth: 0px;
 height: 35px;
 background: rgba(255,255,255,0.3);
 border-radius: 5px;
 transition: all 2s ease;
}

.fobrm-perfil-direccion button:hover:before{
 width: 100%;

}


/* tabla de ant:  */
.custom-filter-dropdown {

  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.custom-filter-dropdown input {
  width: 130px;
  margin-right: 8px;
}

.highlight {
  color: #f50;
}

/* pedidos form:  */
.pedidos-table{
  height: 50%;
  top:150px;
  left:25%;
  text-align: center;
  background-color: white;
}
.tabs{
width: 70%;
margin-top: 28px;
margin-bottom: 15px;

}

.back{
  margin-right: 20px;
}


@media screen and (max-width: 420px) {
  .avatar{
    position: absolute;
    left:10%;
  height: 90px;
    width: 90px;
    border-radius: 50%;
  border-style:solid ;
  border-color: white;
  top:35%;

  }

}
