.container-carrito steps {
    background-color: #0000;

}

.carrito-contenedor {
height: 50%;
width: 70%;
margin: 0 auto;
position: absolute;
 top: 30%;
 left: 15%;
 vertical-align: middle;


}




.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

.steps-action {
  margin-top: 24px;
}



.editable-cell {
  position: relative;
}

.editable-cell-input-wrapper,
.editable-cell-text-wrapper {
  padding-right: 24px;
}

.editable-cell-text-wrapper {
  padding: 5px 24px 5px 5px;
}

.editable-cell-icon,
.editable-cell-icon-check {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;
}

.editable-cell-icon {
  line-height: 18px;
  display: none;
}

.editable-cell-icon-check {
  line-height: 28px;
}

.editable-cell:hover .editable-cell-icon {
  display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #108ee9;
}

.editable-add-btn {
  margin-bottom: 8px;
}


.form-table-total{
  width: 50%;
  position: relative;
left:80%;
}

.select-pago-titulo h1{
  font-size: 13px;
  position: absolute;
   top: 20%;

}

.select-pago img{
height:40%;
width: 40%;

}

.select-pago button{
height: 50%;
width: 30%;
}






/* form-pago :)  */
.body-pago{
font-family: 'Montserrat', sans-serif;
font-weight: bold;
  width: 400px;
  height: 450px;
  position: relative;
  top: -60px;
 margin: 3em auto;
 border-radius: 5px;
 background-color: white;
}
.payment-form {
  margin: 2em 1em;
  position: relative;
  top: 150px;


}
.payment-form fieldset {
  border: none;
}

.payment-form input {
  width: 100%;
  height: 30px;
  vertical-align: top;
  border: 2px solid #bcc2c2;
  border-radius: 3px;
  font-size: 1.25em;
  margin: 10px 5px;
  font-weight: 100;
  text-indent: 18px;
  line-height: 20px;
  display: inline-block;
  margin-bottom: 20px;
}

.payment-form input[type="text"]:hover{
    border: 2px solid #77c1f6;
}




.payment-form input[type="checkbox"] {
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  width: 1.75em;
}

.expiration input{
position: relative;
left: -126px;
top: 14px;
width: 50%;
height: 30px;

}
.security label{
  position: relative;
  left: 230px;
  top: -60px;
  width: 30%;
  height: 30px;
}

.security input{
  position: relative;
  left: 90px;
  top: -46px;
  width: 40%;
  height: 30px;
}

.check input{
  position: relative;
  top:-60px;
}

.check label{
  position: relative;
  top:-1px;
}
.check span{
  position: relative;
  top:-52px;
}


.payment-form button {
  background-color: #616161;
  color: white;
  position: relative;
  justify-content: center;
  top: -70px;
  width: 100%;
  height: 30px;
}
.payment-form button:before {
 content:'';
 position: absolute;
 top: 0px;
 left: 0px;
 width: 0px;
 height: 42px;
 background: rgba(255,255,255,0.3);
 border-radius: 5px;
 transition: all 2s ease;
}

.payment-form button:hover:before{
 width: 100%;

}




.payment-form label > span {
  line-height: 1.5em;
}


.card-image {
  position: relative;


}

.card-image img{
  width: 230px;
  height: 130px;
    position: absolute;
    left: 20%;
    transition: opacity 1.5s ease-in-out;
}

 .card-image img.top:hover {
  opacity: 0;
}




  /* home pago   */

  .home-pago{
      width:100%;
      height:150px;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      background-position: center;
      background-size: center;
      background-image: url('https://static.pexels.com/photos/315420/pexels-photo-315420.jpeg');
  }


  .back-home-pago{
      width:100%;
      height:700px;
      background-position: center;
      background-size: center;
      background-color: #f3f3f3;
  }
  .home-pago h2{
      color:white;
      position: relative;
      top: -70%;
      padding-top: 183px;
  }


  @media screen and (max-width: 420px) {


    .body-pago{

      width: 400px;
      height: 483px;

    }

    .carrito-contenedor{
    height: 50%;
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 15%;
    vertical-align: middle;
    }

    .payment-form {
      width: 50%;
      height: 50%;

    }

    .expiration input{
    position: relative;
    left: 2px;
    top: 5px;
    width: 50%;
    height: 30px;

    }
    .security label{
      position: relative;
      left: 130px;
      top: -78px;
      width: 30%;
      height: 30px;
    }

    .security input{
      position: relative;
      left: 120px;
      top: -73px;
      width: 40%;
      height: 30px;
    }
    .card-image img{
      top: 20px;
      width: 100px;
      height: 100px;
        position: absolute;
        left: 18%;
        transition: opacity 1.5s ease-in-out;
    }
    .body-pago{

      top: -50px;

    }

    .check label{
      position: relative;
      justify-content: center;
      top:-20px;
    }
    .carrito-contenedor {
    height: 50%;
    width: 70%;
    margin: 0 auto;
    position: absolute;
     top: 35%;
     left: 15%;
     vertical-align: middle;


    }


       }
