.table table {
  position:relative;
margin: auto;
    border: 1px solid black;
    width: 75%;
    border: none;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.table th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #85857b;
}



#minus1{
  font-size: 18px;
font-weight: 700;
color: #fff;
border: none;
width: 27px;
height: 27px;
margin: 0;
float: left;
background-color: #456D56;
}

#minus2{
  border-top: 1px solid #e3e3e3 !important;
  border-bottom: 1px solid #e3e3e3 !important;
  border-left: none !important;
  border-right: none !important;
  color: #424242 !important;
  font-size: 12px;
  width: 27px;
  height: 27px;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
  float: left;
}

#minus3{
  font-size: 18px;
font-weight: 700;
color: #fff;
border: none;
width: 27px;
height: 27px;
margin: 0;
float: left;
background-color: #456D56;
}

.table img{
  display: flex;
  justify-content: flex-start;
  width:90px;
  height: 90px;
  position: relative;


}

.table img:hover{
  -webkit-transform:scale(0.7);transform:scale(0.7);
  overflow:hidden;
}


.table-total{

  margin:0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
flex-wrap: wrap;
width: 800px;
position:relative;
}
.table-total input{
width: 100px;

}

.table button{
  color: #323232;
  width: 120px;
  background-color: transparent;
  border: 1px solid #AAA;
  font-weight: 700;
  font-size: .7rem;
  letter-spacing: .1rem;
}
.table button:hover{
  background: #456D56;
  color: white;
}




@media screen and (max-width: 420px) {


  .table {

top: 30px;
display: block;
overflow-x: auto;
  }

  .table button {
font-size: 10px;
position: relative;
left: 3%;
width: 78%;
  }
  .table img {
    width: 30px;
    height: 30px;
  }

}






/* HOME DE LA TABLA  */
.botones-home-carrito{
text-align:center;

}


#check{
  margin:0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
flex-wrap: wrap;
  color: #323232;
  background-color: transparent;
  border: 1px solid #AAA;
  letter-spacing: .1rem;
  position: relative;
  margin-top: 20px;
  width: 20%;
  height: 30px;
  padding-bottom:1px;
 overflow:hidden;

}
#check:hover{
  background-color: #456D56;
  color: white;
    border: 1px solid white;

}

#check:before {
 font-family: FontAwesome;
 content:"\f07a";
 position: absolute;
 top: 4px;
 left: -20px;
 transition: all 200ms ease;
}

#check:hover:before{
 left: 10%;
}
