.footer{
    background-color: white;
    width:100%;
    height:auto;
    padding-bottom: 30px;
    padding-top: 80px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;

}
.footer a{
    color:inherit;
}
.footer a:hover{
    color:inherit;
}
.box_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:80%;
    margin: 0 auto;
}
.box_footer div{
    width:200px;
    flex-grow: 1;
    margin: 0 10px;
    line-height: 160%;

}
.box_footer span{
    margin: 0 3px 0 0;
}
.line_green{
    margin: 15px 0;
    width:60px;
    height:2px;
    border: none;
    background-color: #1C7E7A;
}
.redes span{
    margin: 0 10px;
    font-size: 25px;
    cursor: pointer;
}

.footer_section p{

}

