.contacto{
    padding-bottom: 100px;
    background-color: white;
}
.map, .formu{
    width:80%;
    margin: 0 auto;
}

.formu{
    padding-top: 50px;
    text-align: center;
}
.formu h3{
    margin: 0;
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
    color:#79797B;
}
.contact_flex{
    display: flex;
    flex-wrap: wrap;
}

form input{
    width:100%;
    height:56px;
    margin: 20px auto;
    display: block;
    padding: 6px 9px;
    background-color: #f6f6f6;
    border:none;


}
form textarea{

    width:100%;
    height:150px;
    margin: 20px auto;
    display: block;
    padding: 6px 9px;
    background-color: #f6f6f6;
    border:none;


}
.btn_form{
    width:20%;
    background-color: #1C7E7A;
    border-radius: 0;
    border:transparent;
    color:white;
    padding: 3px 6px;
}
.cambio{
    color:inherit !important;
}
.ctbox{
    width:400px;
    flex-grow: 1;
    color:#79797B;
}
