.table table {
    border: 1px solid black;
    width: 100%;
    border: none;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.table th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #85857b;
}

.table tr:hover {

}

.table button{
  position: relative;
  left: 25%;
background-color: #1c7e7a;
color: white;
}

.table button:hover {

 background: rgba(0,0,0,0);
 color: #3a7999;
 box-shadow: inset 0 0 0 3px #26928e;

}

#minus1{
  font-size: 18px;
font-weight: 700;
color: #fff;
border: none;
width: 27px;
height: 27px;
margin: 0;
float: left;
background-color: #1c7e7a;
}

#minus2{
  border-top: 1px solid #e3e3e3 !important;
  border-bottom: 1px solid #e3e3e3 !important;
  border-left: none !important;
  border-right: none !important;
  color: #424242 !important;
  font-size: 12px;
  width: 27px;
  height: 27px;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
  float: left;
}

#minus3{
  font-size: 18px;
font-weight: 700;
color: #fff;
border: none;
width: 27px;
height: 27px;
margin: 0;
float: left;
background-color: #1c7e7a;
}

.table img{
  width: 95px;
  height: 95px;
  position: relative;
  left: 30%;

}

.table img:hover{
  -webkit-transform:scale(0.7);transform:scale(0.7);
  overflow:hidden;
}


.table-total{
font-family: 'Montserrat', sans-serif;
border: 1px solid #ccc;
border: none;
width: 150px;
height: 40px;
background-color: white;
position: relative;
float: right;
}
.table-total input{
width: 100px;

}


@media screen and (max-width: 420px) {


  .table {

top: 30px;
display: block;
overflow-x: auto;
  }

  .table button {
font-size: 10px;
position: relative;
left: 3%;
width: 78%;
  }
  .table img {
    width: 30px;
    height: 30px;
  }

}
